<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title).present? ? yield(:title) : @seo_title.value %></title>
    <meta name="description" content="<%= yield(:meta_description).present? ? yield(:meta_description) : @seo_description.value %>">
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <meta property="og:url"           content="<%= request.original_url %>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= yield(:og_title).present? ? yield(:og_title) : @seo_title.value %>" />
    <meta property="og:description"   content="<%= yield(:og_description).present? ? yield(:og_description) : @seo_description.value %>" />
    <meta property="og:image"         content="<%= yield(:og_image).present? ? yield(:og_image) : asset_url('logo-og.jpg') %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if @google_site_verification.present? %>
        <meta name="google-site-verification" content="<%= @google_site_verifcation %>" />
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'ie' %>
    <![endif]-->
    <% if @google_analytic.present? %>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '<%= @google_analytic %>', 'auto');
            ga('send', 'pageview');
        </script>
    <% end %>
    <% if @google_tag_manager.present? %>
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '<%= @google_tag_manager %>');
        </script>
    <% end %>
  </head>
  <body>
    <% if @google_tag_manager.present? %>
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=<%= @google_tag_manager %>" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    <% end %>
    <%= render partial: 'shared/flash_messages', flash: flash %>
    <%= yield %>
  </body>
</html>
