<!DOCTYPE html>
<html>
  <head>
    <title>
    <% if yield(:title).present? %>
      <%= yield(:title) %>
    <% else %>
      <%= @seo_title.value %>
    <% end %>
    </title>
    <% if yield(:meta_description).present? %>
      <meta name="description" content="<%= yield(:meta_description) %>" />
    <% else %>
      <meta name="description" content="<%= @seo_description.value %>" />
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "ie" %>
    <![endif]-->
  </head>

  <body>
    <%= render partial: 'shared/flash_messages', flash: flash %>

    <%= yield %>
  </body>
</html>
